apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: mlops-platform
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    # Alerting configuration
    alerting:
      alertmanagers:
        - static_configs:
            - targets: []
    
    # Load rules
    rule_files:
      - /etc/prometheus/alerts.yml
    
    # Scrape configurations
    scrape_configs:
      # Prometheus itself
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      
      # Churn Prediction API
      - job_name: 'churn-api'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - mlops-platform
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: churn-prediction-api
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod
          - source_labels: [__meta_kubernetes_pod_ip]
            action: replace
            target_label: __address__
            replacement: $1:8000
          - source_labels: [__meta_kubernetes_pod_label_version]
            action: replace
            target_label: version
        metrics_path: /metrics
