apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mlops-platform

resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  project: mlops-platform
  managed-by: kustomize
